@using Microsoft.AspNetCore.Components.Forms

@inject IConfiguration config

<div class="docTranslateContainer" role="button" tabindex="0" aria-label="Share">
    <label for="input" class="docTranslateButtonText">Doc Translator</label>
    <input id="input" type=file style="display:none;" />
</div>
