@using Azure.Storage.Blobs;
@using Azure.Storage.Blobs.Models;
@using MudBlazor;

@page "/fileupload2"

<div>
<H1>Document Translation</H1>
<MudGrid>
    <MudItem xs="12" md="6" lg="4"> 
        <MudField Label="Input Language" Variant="Variant.Outlined">
            <input type="text" @bind-value="inputLang"/><span class="ml-3"></span>
        </MudField>
    </MudItem>  
    <MudItem xs="12" md="6" lg="4"> 
        <MudField Label="Output Language" Variant="Variant.Outlined">
            <input type="text" @bind-value="outputLang"/><span class="ml-3"></span>
        </MudField>
    </MudItem>
    <MudItem xs="12" md="6" lg="4"> 
        <MudField Label="Select File & Upload" Width="100%" Variant="Variant.Outlined">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
            <MudFab StartIcon="@Icons.Material.Filled.Save" Disabled="true" />
        </MudField>
    </MudItem>  
</MudGrid>
</div>

@code {
    RenderFragment content = null;
    RenderFragment rf1 = @<MudText Typo="@Typo.h6">I Am Field</MudText>;
    string color="#6cf014";
    string mytest="test";
    string inputLang="English";
    string outputLang="Spanish";
}